<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Frank Dimodica Art</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <style>
    header {
      background: url("imgs/04.png");
      background-size: cover;
      background-position: center;
      min-height: 1000px;
    }
    #small {
    }
    #small#loaded > img {
      opacity: 0;
    }
    #small > img {
      opacity: 1;
      transition: opacity 200ms ease-in-out;
    }
    @media screen and (max-width: 670px) {
      header {
        min-height: 500px;
      }
      .section {
        padding-top: 4vw;
        padding-bottom: 4vw;
      }
      .tabs .indicator {
        background-color: #1a237e;
      }
      .tabs .tab a:focus, .tabs .tab a:focus.active {
        background: transparent;
      }
    }
  </style>
</head>
<body>
  <header>
    <nav class="nav-wrapper black">
      <div class="container">
        <a href="#" class="brand-logo">JWM</a>
        <a href="#" class="sidenav-trigger" data-target="mobile-menu">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="oilPaintings">Oil Paintings</a></li>
          <li><a href="/mixedMedia">Mixed Media</a></li>
          <li><a href="/pencilDrawings">Pencil Drawings</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="" class="tooltipped btn-floating btn-small indigo darken-4" data-position="bottom" data-tooltip="Instagram"><i class="fab fa-instagram"></i></a></li>
          <li><a href="" class="tooltipped btn-floating btn-small indigo darken-4" data-position="bottom" data-tooltip="Facebook"><i class="fab fa-facebook"></i></a></li>
        </ul>
        <ul class="sidenav grey lighten-2" id="mobile-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/oilPaintings">Oil Paintings</a></li>
          <li><a href="/mixedMedia">Mixed Media</a></li>
          <li><a href="/pencilDrawings">Pencil Drawings</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="row">
      <div class="col s12 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Phone Number</span>
            <p>By far the best way to reach Frank</p>
          </div>
          <div class="card-action">
            <a href="tel:718-423-4656">718-423-4656</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Email</span>
              <p>Email</p>
            </div>
            <div class="card-action">
              <a href="mailto:drumcatf8@hotmail.com">drumcatf8@hotmail.com</a>
            </div>
          </div>
        </div>
      </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const blurDivs = document.querySelectorAll("#small");

      blurDivs.forEach(div => {
        const images = div.querySelectorAll("img");

        function loaded() {
          div.setAttribute("id", "loaded");
        }

        images.forEach(img => {
          if (img.complete) {
            loaded();
          } else {
            img.addEventListener("load", loaded);
          }
        });
      });
      $(document).ready(function() {
        $('.sidenav').sidenav();
        $('.materialboxed').materialbox();
      });
    });
  </script>
  <script src="../public/cards.js"></script>
</body>
</html>
