<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Frank Dimodica Art</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="./cards.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Remove the following line if you only want to use Font Awesome 6 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
      header {
        background: url("imgs/04.png");
        background-size: cover;
        background-position: center;
        min-height: 1000px;
      }
      #silver{
        border:thick brown solid;
        border-radius:4em;
        padding:2em;
        margin: 3em
      }
      @media screen and (max-width: 670px) {
        header {
          min-height: 500px;
        }
        .section {
          padding-top: 4vw;
          padding-bottom: 4vw;
        }
        .tabs .indicator {
          background-color: #1a237e;
        }
        .tabs .tab a:focus, .tabs .tab a:focus.active {
          background: transparent;
        }
      }
    </style>
  </head>
  <body>
    <header>
      <nav class="nav-wrapper black">
        <div class="container">
          <a href="#" class="brand-logo">JWM</a>
          <a href="#" class="sidenav-trigger" data-target="mobile-menu">
            <i class="material-icons">menu</i>
          </a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#">Galleries</a></li>
            <li><a href="#">Artist Statement</a></li>
            <li><a href="#">Solo Exhibitions</a></li>
            <li><a href="#">Group Exhibitions</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="" class="tooltipped btn-floating btn-small indigo darken-4" data-position="bottom" data-tooltip="Instagram"><i class="fab fa-instagram"></i></a></li>
            <li><a href="" class="tooltipped btn-floating btn-small indigo darken-4" data-position="bottom" data-tooltip="Facebook"><i class="fab fa-facebook"></i></a></li>
          </ul>
          <ul class="sidenav grey lighten-2" id="mobile-menu">
            <li><a href="#">Galleries</a></li>
            <li><a href="#">Artist Statement</a></li>
            <li><a href="#">Solo Exhibitions</a></li>
            <li><a href="#">Group Exhibitions</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </nav>
    </header>



    <section  id="silver">
        <p class="brown-text text-darken-4" style="padding:10px;border:10px beige; outline:10px dashed #9AB;margin:10px">     The incredible music of the sixties and seventies would be a major influence throughout his life. DiModica's passion for music prompted his father Joseph DiModica to buy a drumset for him at age ten.



    As a young boy, Frank showed signs of musical talent and "Crafty Hands." At age 14, he was awarded with trophies for his work with plastics.



    In 1980, DiModica attended the prestigious Mannes College Of Music in Manhattan, where he was classically trained and was lead percussionist in the Mannes percussion ensemble; conducted by the illustrious percussion educator Norman Grossman.



    In the summer of 1981 DiModica became friends with famous painter Morris Katz. DiModica met Morris Katz while working as a drummer at the Concord Hotel in upstate New York, and was further impressed upon the power of Painting.

    </p>
    </section>


    <div class="parallax-container">
      <div class="parallax">
        <img src="imgs/drums.gif" class="responsive-img">
      </div>
    </div>


    <section class="container section scrollspy" id="photos">

      <div class="row">
        <div class="col s12 l4">

          <img src="imgs/01.png" class="responsive-img materialboxed" alt="">

        </div>
        <div class="col s12 m6 offset-l1">
          <a href="/oilPaintings"><h2 class="indigo-text text-darken-4">Oil Paintings Gallery</h2></a>

        </div>
      </div>
</section>

<section  id="silver">
    <p class="brown-text text-darken-4" style="padding:10px;border:10px beige; outline:10px dashed #9AB;margin:10px">
   DiModica was a drummer/Percussionist in an original band called Tryangle during the 1980's. Tryangle became a very successful local group. In 1988 Tryangle disbanded and DiModica was already starting to produce paintings and graphics.
</p>
</section>

<div class="parallax-container">
  <div class="parallax">
    <img src="imgs/waves.png" class="responsive-img">
  </div>
</div>

    <section class="container section scrollspy" id="photos">
        <div class="row">
          <div class="col s12 l4">
            <a href="/oilPaintings">
            <img src="imgs/mm4.png" class="responsive-img materialboxed" alt="">
            </a>
          </div>
          <div class="col s12 m6 offset-l1">
            <a href="/mixedMedia"><h2 class="indigo-text text-darken-4">Mixed Media Galleries</h2></a>
            <p>All media in one Gallery</p>
          </div>
        </div>

    </section>

    <section  id="silver">
        <p class="brown-text text-darken-4" style="padding:10px;border:10px beige; outline:10px dashed #9AB;margin:10px">
          Frank Dimodica's artwork draws inspiration from abstract expressionism, surrealism, and cubism. His exhibitions has been housed in institutions such as the Green Street Gallery in Soho, the New England Conservatory of modern arts, in Patterson New Jersey, the Andrus Gallery at Carnegie Hall. For Dimodica, art and music are instrinsically intertwined. His compositions derive from his passion for music.



          In 1993 Frank moved to Davie Florida, and lived there until 1999. While there, Frank worked with one of Florida's top cabinet makers; "Rinaldi's Unique Custom Design". Here he learned everything about carpentry, cabinetry, and wood work. He then worked for a year and a half with top glazier; Vincent Martucci. He worked extensively with glass and mirrors.

           "Music is always playing when I produce my paintings. The works have been sonically bombarded by the worlds greatest music. Everything from Bach, to Monk, all in between, and around." He approaches his pieces with a jazzy sensibility. Jazz is his God, as he proclaims.

          Frank considers himself an old school modernist. With nearly 30 years experience of producing original art work, Frank revels in the bold colors and rich textures in his pieces. DiModica is also an accomplished drummer, and knows the drumlines to hundreds and hundreds of songs; including progressive rock and jazz rock. He is also a master craftsman that works in many different and textiles.    </p>
    </section>


    <div class="parallax-container">
      <div class="parallax">
        <img src="imgs/triangle.png" class="responsive-img">
      </div>
    </div>

        <section class="container section scrollspy" id="photos">
            <div class="row">
              <div class="col s12 l4">
                <a href="/pencilDrawings">
                <img src="imgs/torso.png" class="responsive-img materialboxed" alt="">
                </a>
              </div>
              <div class="col s12 m6 offset-l1">
                <a href="/pencilDrawings"><h2 class="indigo-text text-darken-4">Mixed Media Galleries</h2></a>
                <p>Hand Drawn Masterpeices</p>
              </div>
            </div>

        </section>

        <section  id="silver">
            <p class="brown-text text-darken-4" style="padding:10px;border:10px beige; outline:10px dashed #9AB;margin:10px">
                   Frank is also cousins with World renowned Sculptor Arturo DiModica. Known for his sculpture; the Iconic Bronze Wall Street Charging Bull at Bowling Green Manhattan. On December 15th 1989, at 2AM in the morning, Frank was one of five that put the wall street bull at the New York Stock Exchange; causing a media sensation.
                 </p>
        </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript"  src="./cards.js"> </script>
</html>
<script>
$(document).ready(function(){
  $('.sidenav').sidenav();
  $('.materialboxed').materialbox();
  $('.parallax').parallax()
})
</script>
</body>

</html>
